<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/public.css">
    <link rel="stylesheet" href="/stylesheets/hwgou_index.css">

</head>
<body>
    <div class="gao"><a href="#"><img src="/images/guanggao.jpg"></a></div>
    <div class="nav">
        <section class="margin clear">
            <ul class="nav-ul">
                <li class="appdl nav-li"><div class="ma"><img src="/images/ma.jpg"></div>APP下载<i class="bg nav-i"></i><span>|</span></li>
                <li class="l ll nav-li ddd"><a href="login-page/login.html">去登录</a></li>
                <li class="nav-li ddd"><a href="zhuce-page/zhuce.html">去注册</a><span>|</span></li>
                <li class="nav-li ddd">欢迎<span class="dddd">XXX</span>登录,<em id="exit">退出</em></li>
                <li class="nav-li">每日签到<span>|</span></li>
                <li class="l nav-li">企业采购</li>
                <li class="nav-li">客户服务<span>|</span></li>
                <li class="person nav-li">
                    <div>个人中心<i class="bg nav-i"></i><span>|</span></div>
                    <div class="content">
                        <div class="content-t">
                            <img src="/images/person.jpg">
                            <div>
                                <h3>你好，请登录</h3>
                                <span>红包</span>
                                <span>|</span>
                                <span>消息</span>
                            </div>
                        </div>
                        <div class="content-c clear">
                            <ul>
                                <li>待处理订单</li>
                                <li>我的推荐</li>
                                <li>收货地址</li>
                                <li>缺货登记</li>
                            </ul>
                            <ul>
                                <li>我的收藏</li>                                
                            </ul>
                        </div>
                        <dl>
                            <dt><i>我的足迹</i><span>清空 > </span></dt>
                            <dd><img src="/images/zuji.jpg"></dd>
                        </dl>
                    </div>
                </li>
                <li class="nav-li">成为VIP</li>
            </ul>
        </section>
    </div>
    <div class="header">
        <div class="margin">
            <img src="/images/logo.png">
            <div class="header-c">
                <div class="search">
                    <div class="input clear">
                        <input type="text" class="txt">
                        <input type="submit" value="搜索" class="sub">
                    </div>
                    <ul class="t clear">
                        <li class="te">纸尿裤</li>
                        <li>奶粉</li>
                        <li>面膜</li>
                        <li>套装</li>
                        <li>直邮</li>
                        <li>包税</li>
                        <li>特惠</li>
                    </ul>
                </div>
                <ul class="b clear">
                    <li><h3>母婴用品/玩具</h3></li>
                    <li><h3>家居护理</h3></li>
                    <li><h3>婴幼儿奶粉</h3></li>
                    <li><h3>人气面膜</h3></li>
                    <li><h3>大牌直邮</h3></li>
                    <li><h3>安瓶</h3></li>
                    <li><h3>特惠专区</h3></li>
                </ul>
            </div>
            <div class="che"><a href="car/car.html"><i class="bg"></i>我的购物车</a></div>
        </div>
    </div>
    <div class="banner">
        <div class="margin">
            <div class="banner-l">
                <ul>
                    <li>特价专区</li>
                    <li>母婴儿童</li>
                    <li>家居护理</li>
                    <li>食品保健</li>
                    <li>厨卫用具</li>
                    <li>美妆洗护</li>
                    <li>家用电器</li>
                    <li>热销产品</li>
                    <li>仓库分类</li>
                </ul>
                <div class="cont">
                    <div class="msg">1</div>
                    <div class="msg">2</div>
                    <div class="msg">3</div>
                    <div class="msg">4</div>
                    <div class="msg">5</div>
                    <div class="msg">6</div>
                    <div class="msg">7</div>
                    <div class="msg">8</div>
                    <div class="msg">9</div>
                </div>
            </div>
            <div class="banner-c">
                <div class="lun">
                    <div class="aaaa">
                        <a class="a"><img src="/images/banner-1.jpg"></a>
                        <a class="a"><img src="/images/banner-2.jpg"></a>
                        <a class="a"><img src="/images/banner-3.jpg"></a>
                        <a class="a"><img src="/images/banner-4.jpg"></a>
                        <a class="a"><img src="/images/banner-5.jpg"></a>
                    </div>
                    <div class="bbbb">
                        <input type="button" value="<<<" class="btn1">
                        <input type="button" value=">>>" class="btn2">
                    </div>
                </div>
                <div class="quan">
                    <img src="/images/5,20,30.jpg">
                    <img src="/images/zu.jpg">
                </div>
            </div>
            <div class="banner-r">
                <div class="banner-r-t">
                    <img src="/images/person.jpg">
                    <div class="banner-r-tt">
                        <h4>欢迎来到跨境淘!</h4>
                        <span>登录</span>
                        <span>注册</span>
                    </div>
                </div>
                <div class="banner-r-c">
                    <span>我的订单</span>
                    <span>我的红包</span>
                </div>
                <div class="banner-r-b">
                    <ul><li class="active">促销</li><li>公告</li></ul>
                    <div class="cont">
                        <div class="msg"><span>[优惠]安全座椅 立减500</span></div>
                        <div class="msg"><span>会员权利</span><span>发货流程</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sha">
        <div class="margin">
            <div class="hong">
                <i class="bg2 biao"></i>
                <span>特价秒杀</span>
                <a href="#">总有你想不到的低价 ></a>
            </div>
            <ul>
                <li><img src="/images/sha.jpg"></li>
                <li><img src="/images/sha.jpg"></li>
            </ul>
        </div>
    </div>
    <div class="san">
        <div class="margin">
            <div class="huo">
                <div class="huo-l"><span>发现好货</span><b>发现品质生活 ></b></div>
                <ul>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                </ul>
            </div>
            <div class="huo pin">
                <div class="huo-l pin-l"><span>品牌街</span><b>大牌资讯全掌握 ></b></div>
                <ul>
                    <li><a href="#"><img src="/images/pin-1.jpg"></a></li>
                    <li><a href="#"><img src="/images/pin-2.jpg"></a></li>
                </ul>
                <img src="/images/pin-3.jpg">
            </div>
            <div class="huo bang">
                <div class="huo-l bang-l"><span>排行榜</span><b>热卖热款疯抢 ></b></div>
                <ul>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                    <li><a href="#"><img src="/images/huo.jpg"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hui">
        <div class="margin">
            <img src="/images/hui-1.jpg">
            <img src="/images/hui-2.jpg">
            <img src="/images/hui-3.jpg">
        </div>
    </div>
    <div class="xiang">
        <div class="margin">
            <img src="/images/dian.png">
            <span>享品质</span>
            <img src="/images/dian.png">
        </div>
    </div>
    <div class="xpz">
        <div class="margin">
            <ul class="xpz-ul">
                <li><a href="#"><img src="/images/xpz.jpg"></a></li>
                <li><a href="#"><img src="/images/xpz.jpg"></a></li>
                <li><a href="#"><img src="/images/xpz.jpg"></a></li>
                <li><a href="#"><img src="/images/xpz.jpg"></a></li>
                <li><a href="#"><img src="/images/xpz.jpg"></a></li>
                <li><a href="#"><img src="/images/xpz.jpg"></a></li>
            </ul>
        </div>
    </div>
    <div class="hui">
        <div class="margin">
            <img src="/images/hui2-1.jpg">
            <img src="/images/hui2-2.jpg">
            <img src="/images/hui2-3.jpg">
        </div>
    </div>
    <div class="xiang">
        <div class="margin">
            <img src="/images/dian.png">
            <span>爱生活</span>
            <img src="/images/dian.png">
        </div>
    </div>
    <div class="title">
        <div class="margin">
            <span>母婴儿童</span>
            <ul>
                <li><a href="#">婴幼儿奶粉</a></li>
                <li><a href="#">婴幼儿纸尿裤</a></li>
                <li><a href="#">婴儿拉拉裤</a></li>
                <li><a href="#">母婴洗护</a></li>
                <li><a href="#">母婴保健</a></li>
                <li><a href="#">喂养用品</a></li>
                <li><a href="#">婴幼儿出行</a></li>
                <li><a href="#">儿童文具</a></li>
            </ul>
        </div>
    </div>
    <div class="myet">
        <div class="margin">
            <div class="my">
                <div class="my-t">
                    <div class="my-t-l"><a href="#"><img src="/images/my-1.jpg"></a></div>
                    <div class="my-t-r">
                        <ul>
                            <li><a href="#"><img src="/images/my-2.jpg"></a></li>
                            <li><a href="#"><img src="/images/my-2.jpg"></a></li>
                            <li><a href="#"><img src="/images/my-2.jpg"></a></li>
                            <li><a href="#"><img src="/images/my-2.jpg"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="my-b">
                    <a href="#"><img src="/images/my-3.jpg"></a>
                    <a href="#"><img src="/images/my-3.jpg"></a>
                    <a href="#"><img src="/images/my-3.jpg"></a>
                </div>
            </div>
            <div class="my">
                <div class="my-t">
                    <div class="my-t-l"><a href="#"><img src="/images/my-1.jpg"></a></div>
                    <div class="my-t-r">
                        <ul>
                            <li><a href="#"><img src="/images/my-2.jpg"></a></li>
                            <li><a href="#"><img src="/images/my-2.jpg"></a></li>
                            <li><a href="#"><img src="/images/my-2.jpg"></a></li>
                            <li><a href="#"><img src="/images/my-2.jpg"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="my-b">
                    <a href="#"><img src="/images/my-3.jpg"></a>
                    <a href="#"><img src="/images/my-3.jpg"></a>
                    <a href="#"><img src="/images/my-3.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="hui">
        <div class="margin">
            <img src="/images/hui3-3.jpg">
            <img src="/images/hui-2.jpg">
            <img src="/images/hui3-1.jpg">
        </div>
    </div>
    <div class="xiang">
        <div class="margin">
            <img src="/images/dian.png">
            <span>还没逛够</span>
            <img src="/images/dian.png">
        </div>
    </div>
    <main>
        <div class="margin">
            <ul id="cont">
                <!-- <li>
                    <a>
                        <div class="cpt">
                            <img src="/images/xfs2.png">
                        </div>
                        <p>西班牙LME珞曼西樱花身体乳保湿滋润补水去鸡皮肤润肤乳500ml</p>
                        <span>￥128.0<em class="add">加入购物车</em></span>
                    </a>
                </li> -->
            </ul>
        </div>
    </main>
    <div class="dkhs">
        <div class="margin">
            <ul>
                <li><i class="bg3 d"></i><span>品类齐全，轻松购物</span></li>
                <li><i class="bg3 k"></i><span>多仓直发，极速配送</span></li>
                <li><i class="bg3 h"></i><span>正品行货，精致服务</span></li>
                <li><i class="bg3 s"></i><span>天天低价，畅选无忧</span></li>
            </ul>
        </div>
    </div>
    <div class="kong"></div>
    <footer>
        <div class="margin">
            <p>浙ICP备14001577号-1</p>
            <p>© 2005-2019 跨境淘 版权所有，并保留所有权利。</p>
            <img src="/images/footer.png">
        </div>
    </footer>
</body>
<script src="/javascripts/move.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.banner.2.0.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/ajax.2.0.js"></script>
<script src="/javascripts/cookie.js"></script>
<script src="/javascripts/car/js/goods.js"></script>
<script>
    //数据驱动商品列表(模拟的数据)，jquery-ajax获取data.json文件

    var str = "";
    $.ajax({
        type:"GET", //方式
        url:"http://localhost:3001/data.json",  //路径
        dataType:"json",
        success:function(data){ //成功后执行的函数
            $.each(data,function(i,n){   //each遍历json对象,i为key，n为value
                str += `<li index="${n.goodsId}">
                            <a>
                                <div class="cpt">
                                    <img src="${n.src}" class="goodsimg">
                                </div>
                                <p class="goodsimg">${n.p}</p>
                                <span>${n.span}<em class="add">加入购物车</em></span>
                            </a>
                        </li>`; //获取属性为Value的值
            });
            $('main .margin ul').append(str); //追加到div中
        }
    });
   
</script>
</html>